.home-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f8f6f0;
  flex-grow: 1;
}

.main-layout-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.view-port-size {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
