#cart-btn-disabled {
  border: 1px gray solid;
}

#cart-btn {
  border: 1px #3d0179 solid;
}

.prod-item-mat-card {
  @extend .prod-item-card-content;
  background-color: white;
  width: 270px;
  height: 400px;
  margin: 10px 10px;
}

.prod-item-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prod-item-title {
  margin: 16px;
}

.prod-item-price {
  margin-top: 16px;
}

.prod-item-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.prod-item-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.prod-item-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}
