<mat-card class="prod-item-mat-card">
  <mat-card-content class="prod-item-card-content">
    <section class="prod-item-section">
      <mat-card-title class="prod-item-title" mat-card-title>{{
        product.name
      }}</mat-card-title>

      <img
        mat-card-image
        [class.mat-elevation-z1]="true"
        class="product-img"
        src="{{ product.image }}"
        alt=""
      />

      <div class="prod-item-price">{{ product.price | formatToReal }}</div>
    </section>

    <mat-card-actions class="prod-item-buttons">
      <button
        id="buy-btn"
        mat-raised-button
        color="primary"
        [routerLink]="['/purchase/product', product.id]"
      >
        comprar
      </button>
      <button
        [disabled]="true"
        (click)="addToCart(product)"
        id="cart-btn-disabled"
        mat-icon-button
      >
        <app-cart-icon [color]="cartIconColor"></app-cart-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
