<nav class="header" [class.mat-elevation-z8]="true">
  <img class="gift-img" src="assets/gift-box.svg" alt="gift" />
  <ul class="home-menu">
    <li routerLink="home">
      <h4>Presentes</h4>
    </li>
  </ul>

  <section class="header-section-cart-btn">
    <button
      [disabled]="disableCartBtn"
      routerLink="purchase-history"
      class="header-cart-btn"
      mat-icon-button
    >
      <app-cart-icon [color]="cartIconColor"></app-cart-icon>
    </button>
    <div class="header-badge">
      {{ itemsCount | async }}
    </div>
  </section>
</nav>
